:root{
    --white-color: white;
    --primary-color: #f94e30;
}
*{
    box-sizing: inherit;
}
p{
    font-family: 'Roboto', sans-serif;
}
html{
    font-size:62.5%;
    background-color: #f5f5f5;
}
.grid{
    max-width: 1200px;
    margin: 0 auto;
    
}
.grid__row{
    display: flex;
}
.grid__row-1{
    display: flex;
    flex-wrap:wrap;
    box-sizing: border-box;
}
.grid__column-2{
    padding: 12px;
    width: 16.666667%;
}
.grid__column-10{
    width: 83.33333%;
    padding: 12px;
   
}
.grid__column-2_4{
    width: 20%;
    position: relative;
    padding: 5px;
}